@media screen and (min-width: 320px) and (max-width: 768px) {

  .filter-options {
    flex-direction: column;

  }

  #restaurant-list li {
    width: 90%;
  }

  #review-container {
    flex-direction: column;
  }

  #reviews-list li {
    width: 100%;
  }

  /* #restaurants-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  } */

  #image-container {
    width: 80%;
  }

  #restaurant-info {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {

  #restaurants-list li {
    width: 25%;
  }
}
