@media screen and (max-width: 425px) {

  .filter-options {
    text-align: center;
  }

  #restaurants-list li {
    width: 100%;
  }

  #restaurants-list {
    align-items: center;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px 25px;
  }

  #image-container {
    width: 80%;
  }

  #restaurant-info {
    width: 100%;
  }

  #reviews-list li {
    width: 100%;
    min-height: auto;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {

  .filter-options {
    text-align: center;
  }

  #restaurants-list li {
    width: calc((75% / 2) - 1em);
  }

  #image-container {
    width: 75%;
  }

  #restaurant-info {
    width: 100%;
  }

  #reviews-list li {
    width: 40%;
  }
}

@media screen and (min-width: 769px) {

  #restaurants-list li {
    width: 25%;
  }
}
